/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};

	/* Definição de aliases para LEDs customizados */
	aliases {
		led0 = &led_custom;
	};

	/* Definição do LED customizado no pino P0.07 (GPIO 7) */
	leds {
		compatible = "gpio-leds";
		led_custom: led_0 {
			gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
			label = "Custom LED on P0.07";
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
