/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	/* Definição de aliases para LEDs customizados */
	aliases {
		led0 = &led_custom;
	};

	/* Definição do LED customizado no pino P1.07 (GPIO 7 do port 1) */
	leds {
		compatible = "gpio-leds";
		led_custom: led_0 {
			gpios = <&gpio1 7 GPIO_ACTIVE_HIGH>;
			label = "Custom LED on P1.07";
		};
	};
};
