<header class="header">
  <img ngSrc="assets/amigoperto.png" alt="AmigoPerto Logo" class="logo" width="40" height="40">
  <h1>AmigoPerto</h1>
  <button 
    class="connect-button"
    (click)="bluetoothService.connectionStatus() === 'connected' ? bluetoothService.disconnect() : bluetoothService.findAndConnect()"
    [disabled]="bluetoothService.isLoading()"
    [class.connected]="bluetoothService.connectionStatus() === 'connected'"
  >
    @if (bluetoothService.isLoading()) {
      <div class="spinner"></div>
    } @else {
      <i class="fas" [class.fa-bluetooth-b]="bluetoothService.connectionStatus() !== 'connected'" [class.fa-unlink]="bluetoothService.connectionStatus() === 'connected'"></i>
    }
    <span>{{ bluetoothService.connectionStatus() === 'connected' ? 'Desconectar' : 'Conectar' }}</span>
  </button>
</header>

<main class="main-content">
  <app-device-info />
</main>

<footer class="footer">
   @if(bluetoothService.error(); as errorMsg) {
      <div class="status-message" [class.error]="bluetoothService.connectionStatus() === 'disconnected' && !bluetoothService.isLoading()">
        <i class="fas fa-info-circle"></i>
        <span>{{ errorMsg }}</span>
      </div>
   }
</footer>
